body {
    background-color: #c1c291;
  }

  .underlined {
        text-decoration: underline;
  }

  .underlined2 {
        text-decoration: underline;
  }

  .underlined3 {
        text-decoration: underline;
  }

  .priznaky {
    font-style: italic;

  }

  .Léčba {
    font-style: italic;

  }

  .Chov {
        text-decoration: underline;
  }


.leiurus-info {
    display: flex;
    align-items: center;
}

.leiurus {
    border: 2px solid black;
    margin-right: 10px;
}

.leiurus-description {
    display: flex;
    flex-direction: column;
}
