body {
    background-color: #c1c291;
  }
  



  #content {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: #7d7454;
}

.o-chovu {
    text-indent: 20px;
  }
  